doctype html
html
    head
        title !{name}
        link(rel="stylesheet" type="text/css" href="./css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css")
        link(rel="stylesheet" type="text/css" href="./css/uber-font.css")
        link(rel="stylesheet" type="text/css" href="./css/style.css")

        script(type="text/javascript" src="./js/jquery-1.12.0.min.js")
        script(type="text/javascript" src="./js/bootstrap.min.js")
        script(type="text/javascript" src="./js/doc.js")

        script(type="text/javascript").
            $(document).ready(function() {
                setTimeout(loadVersionListRoot, 500);
            });

    body
        header(class="header")
            div(class="container")
                div
                    h4 !{name}

        div(class="container page-layout")
            div(class="page_content")
              div(class="row")
                            
                div(class="col-sm-12")
                  div(class="doc-content")
                    div(class="part")
                        h1 !{name}
                        hr

                        div(class="paragraph-header") !{description}


                    div(class="part")
                        h1 Versions list
                        hr

                        div(id="versions" class="paragraph-header")
                            center
                                img(src="./img/Preloader_21.gif" style="margin-top: 50px")
