
div(class="part")
    h1(id="changelog") Changelog
    hr
    br

    pre
        code
            br
            each val in changelog.changes[0].changes
                span * !{val}

            br
            br
    br
    i By !{changelog.changes[0].author}, !{changelog.changes[0].date}
